main{
	width: 100vw;
	height: 100vh;
	background: url(./1.jpeg) no-repeat;
	background-size: cover;
}

section{
	position: absolute;
	width: 80vw;
	height: 15vh;
	margin: 15vh 0 0 10vw;
	border: 1px solid grey;
	border-radius: 15px;
	text-align: center;
	color: yellow;
}

section h1{
	width: 50vw;
	height: 10vh;
	line-height: 10vh;
}

section p{
	width: 50vw;
	margin-top: -1vh;
}

canvas{
	position: absolute;
	left: 0;
	top: 0;
}