*,
::before,
::after{
	/*选择所有标签*/
	margin: 0;
	padding: 0;
	
	/*清楚移动端默认的点击高亮效果*/
	-webkit-tap-highlight-color: transparent;

	/*以边框计算宽度*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-size: 14px;
	font-family: "MicroSoft YaHei",sans-serif;
	color: #333;
}

a{
	color: #333;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

ul,ol{
	list-style: none;
}

input{
	border: none;
	outline: none;
	-webkit-appearance: none;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}

.clearfix::before,
.clearfix::after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}