@charset "utf-8";
body{
	background-color: #CCCCCC;
	font-family: Geneva, sans-serif;
	margin: 10px auto;
	max-width: 800px;
	border: solid;
	border-color: #FFFFFF;
}

h2{
	text-align: center;
}

header{
	background-color: #F47D31;
	color: #FFFFFF;
	text-align: center;
}

article{
	background-color: #eee;
}

p{
	color: #F36;
}

nav,article,aside{
	margin: 10px;
	padding: 10px;
	display: block;
}

header#page_header nav{
	list-style: none;
	margin: 0;
	padding: 0;
}

header#page_header nav ul li{
	padding: 0;
	margin: 0 20pa 0 0;
	display: inline;
}

section#posts{
	display: block;
	float: left;
	width: 70%;
	height: auto;
	background-color: #F69;
}

section#posts article footer{
	background-color: #039;
	clear: both;
	height: 50px;
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
}

section#posts aside{
	background-color: #069;
	display: block;
	float: right;
	width: 100px;
	margin-left: 5%;
	font-size: 20px;
	line-height: 40px;
}

section#sidebar{
	background-color: #eee;
	display: block;
	float: right;
	width: 25%;
	height: auto;
	background-color: #699;
	margin-right: 15px;
}

footer#page_footer{
	display: block;
	clear: both;
	width: 100%;
	margin-top: 15px;
	display: block;
	color: #FFFFFF;
	text-align: center;
	background-color: #06C;
}